
.btn:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
    }

.nav-link{
    margin-left: 45px;

}

.btn{
    background-color: white;
    color: black;
    margin-right: 15px;
}

.btn:hover{
    background-color: black;
    color: white;
}

.dropdown-item:hover{
    background-color:black !important; 
    color: white !important;
}
.search-container {
    display: flex;
    align-items: center;
    margin-left: 55px; 

}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 8px;
    border: none;
    margin-right: 4px;
}
input:where(:focus){
    outline: none !important;
    border: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
}

.btn-txt{
    font-weight: 500;
    /* background-color: #aaa !important; */
}

.shadow{
    box-shadow: 1px 0 3px #eee;
}

.cardImg {
    height: 150px;
    object-fit: cover;
}

.text-truncate-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.footer {
    background-color: black;
    height: 30vh;
    padding: 20px 10px; /* Add padding to top, bottom, left, and right */
}

.footer .logo img {
    width: 50px;
    height: 40px;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 30px;
}

.footer .social-links {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto 0; /* Center vertically */
}

.footer .section-links {
    justify-content: center; /* Center the section links */
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    gap: 10px;
    margin: auto 0; /* Center vertically */
}

.footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #ccc;
}

.footer span {
    color: white;
    margin-top: 30px;
    font-size: 19px;
}





  
  